<div class="container row align-items-start banner-border border border-2"
    style="border-radius: 8px; width: 18vw; height: 78vh; margin-left: 11px;">

    <h6 class="text-light mt-2 ms-3 d-flex align-items-center" style="font-size: 16px;">
        <i class="bi bi-check-circle fs-5 me-2" aria-hidden="true"></i> Estilos de aprendizagem
    </h6>

    <div>
        <div class=" row border border-2 text-light mt-0"
            style="border-radius: 8px; margin-top: 4px; margin-bottom: 8px;">
            <img src="../../assets/images/hammer.svg" style="height: 100px; width: 90px;" />
            <div class="col ">
                <h5 class="fs-5 mt-2" style="margin: 0; margin-bottom: 5px; margin-top: 4px;">Ativo</h5>
                <p style="font-size: 13px;">Aprende fazendo e prefere atividades práticas e em grupo.</p>
            </div>
        </div>
        <div class=" row border border-2 text-light mt-0"
            style="border-radius: 8px; margin-top: 4px; margin-bottom: 8px;">
            <img src="../../assets/images/lupa.svg" style="height: 100px; width: 90px;" />
            <div class="col ">
                <h5 class="fs-5 mt-2" style="margin: 0; margin-bottom: 5px;">Sensorial</h5>
                <p style="font-size: 13px;">Prefere informações concretas e exemplos práticos.</p>
            </div>
        </div>
        <div class=" row border border-2 text-light mt-0"
            style="border-radius: 8px; margin-top: 4px; margin-bottom: 8px;">
            <img src="../../assets/images/camera.svg" style="height: 100px; width: 90px;" />
            <div class="col ">
                <h5 class="fs-5 mt-2" style="margin: 0; margin-bottom: 5px; margin-top: 4px;">Visual</h5>
                <p style="font-size: 13px;">Aprende melhor com imagens, gráficos e recursos visuais.</p>
            </div>
        </div>
        <div class=" row border border-2 text-light mt-0"
            style="border-radius: 8px; margin-top: 4px; margin-bottom: 8px;">
            <img src="../../assets/images/dominoes.svg" style="height: 100px; width: 90px;" />
            <div class="col ">
                <h5 class="fs-5 mt-2" style="margin: 0; margin-bottom: 5px;">Sequencial</h5>
                <p style="font-size: 13px;">Prefere informações organizadas de forma lógica e progressiva.</p>
            </div>
        </div>
    </div>
</div>