<div class="container-avaliacoes">
    <h1>Avaliações</h1>
    <div class="container-azul">
        <div class="box">
            <img src="/assets/images/icone-aspas.svg" alt="">
            <div class="text">
                "Klapp Edu transformou o jeito
                como ensino em minha sala de
                aula. Com as avaliações
                adaptativas e o plano de estudos
                personalizado, vi um aumento
                significativo nas notas e no
                engajamento dos alunos."
            </div>
            <div class="nome">
                Maria Fernandes
            </div>
            <div class="profissao">
                Professora de Matemática
            </div>
            <ngb-rating [rate]="5"></ngb-rating>
        </div>
        <div class="box">
            <img src="/assets/images/icone-aspas.svg" alt="">
            <div class="text">
                "Como aluno, sempre tive dificuldade em acompanhar o ritmo da sala de aula. Klapp Edu me
                deu a flexibilidade e os recursos de que eu precisava para aprender no meu próprio ritmo. É uma mudança
                de jogo!"
            </div>
            <div class="nome">
                Lucas Vieira
            </div>
            <div class="profissao">
                Estudante do Ensino Médio
            </div>
            <ngb-rating [rate]="5"></ngb-rating>
        </div>
        <div class="box">
            <img src="/assets/images/icone-aspas.svg" alt="">
            <div class="text">
                "Integrar Klapp Edu em nossa estrutura de treinamento foi uma das decisões mais inteligentes que fizemos
                este ano. O dashboard analítico nos oferece insights sobre onde precisamos focar nossos esforços de
                treinamento."
            </div>
            <div class="nome">
                Juliana Silva
            </div>
            <div class="profissao">
                CEO de Startup Tecnológica
            </div>
            <ngb-rating [rate]="5" class="custom-rating"></ngb-rating>
        </div>
    </div>
</div>