@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* Estilização global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background-container {
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    flex-direction: row; /* Coloca a imagem e o formulário lado a lado */
    
}

.row {
    height: 100%; /* Garante que a linha ocupe toda a altura */
}

.estudante-container {
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    height: 100%; 
   }

/* Estilização da Imagem do Estudante */
.estudante-imagem {
    max-width: 100%;
    max-height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinha o formulário ao fundo */
    max-width: 440px;
    height: 100%;
    width: 100%;
    padding: 20px;
   
}


/* Título */
h1 {
    text-align: center;
    font-weight: medium;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* Linha divisória */
.container-traco {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.container-traco::before,
.container-traco::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #FFF;
    margin: 0 10px;
}

/* Texto */
.text {
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
}

/* Estilização dos campos */
form div {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 12px;
    border-radius: 8px;
    background-color: #FFF;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #939598;
}

/* Checkbox e label */
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.check {
    font-weight: 300;
    color: #FFF;
}

/* Botão de login */
.btn-primary {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #191D6B;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

/* Botão recuperar senha */
.btn-rec-senha {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}

/* Redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px;
}

.btn-outline-secondary {
    background-color: #FFF;
    width: 100px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px; /* Bordas arredondadas, se desejado */
}

.img-sociais {
    max-width: 40px; /* Ajuste conforme necessário */
    max-height: 40px; /* Ajuste conforme necessário */
}

/* Container cadastrar */
.container-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.btn-cadastrar {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

/* From Uiverse.io by vishnupprajapat */ 
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  


/* Media queries para responsividade */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    .btn-entrar {
        height: 45px;
    }

    .redes-sociais {
        gap: 5px;
    }

    .google,
    .apple,
    .facebook {
        width: 50px;
        height: 50px;
    }
}