<div class="content-holder banner-border border border-2 rounded"
    style="height: 80vh; width: 350px; background: rgba(255, 255, 255, 0.3);">
    <div class="filter-container p-3 rounded-3">
        <div class="filter-header d-flex align-items-center mb-3">
            <i class="bi bi-bar-chart-line me-2 text-white fs-5"></i>
            <h6 class="mb-0 text-white fs-5">Progresso Turma</h6>
        </div>
        <div class="disciplines-list">
            <div style="align-items: center; width: 100%;">
                <canvas #canvas style="max-width: 500px; height: 300px;"></canvas>
            </div>
        </div>
        <div class="filter-header d-flex align-items-center mt-4">
            <i class="bi bi-check2-circle me-2 text-white fs-5"></i>
            <h6 class="mb-0 text-white fs-5">Estilos de Aprendizagem</h6>
        </div>
        <div class="disciplines-list">
            <div style="align-items: center; width: 100%; align-content: center;">
                <div class="row">
                    <button class="mb-2 mt-2">Ativo</button>
                    <button class="mb-2">Intuitivo</button>
                    <button class="mb-2">Intuitivo</button>
                    <button class="mb-2">Verbal</button>
                    <button>Sequencial</button>
                </div>
            </div>
        </div>
    </div>
</div>