.banner-border {
    background: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    backdrop-filter: blur(10px); /* Aplica o desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit */
  }

  /* Estilo para garantir que o texto dentro dos dropdowns seja branco */
.text-white {
    color: white !important;
  }
  
  /* Efeito de blur no fundo do dropdown */
  .dropdown-menu-custom {
    backdrop-filter: blur(5px); /* Aplica o blur no fundo */
    background-color: rgba(0, 0, 0, 0.712); /* Semitransparente para o efeito de blur */
    border-radius: 4px; /* Opcional, para bordas arredondadas */
  }
  
  .dropdown-menu-custom button {
    background-color: transparent; /* Botões transparentes para deixar o blur visível */
    border: none; /* Remove a borda do botão */
  }
  
  .dropdown-menu-custom button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito de hover leve */
  }
  
