.background-container {
    background-image: url('/assets/images/Background.svg');
    background-size: cover; /* Faz a imagem cobrir toda a área do elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem no elemento */
    width: 100%; /* Largura total da tela */
    height: 851px; /* Altura total da tela */
    align-items: center; /* Centraliza os itens horizontalmente, se necessário */
}

