.banner-border {
    padding: 10px;
    background: rgba(255, 255, 255, 0.3); /* Fundo semitransparente */
    backdrop-filter: blur(10px); /* Aplica o desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit */
  }

  a, p{
    color: #FFF;
    font-size: 18px;
    margin: 5px;
    text-align: start;
  }

  p{
    margin-left: 10px;
  }

  img{
   margin-left: 20px;
  }