* {
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('/assets/images/Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}