<div class="container banner-border border border-2 p-0 container-fluid m-0 "
    style="border-radius: 8px; margin: 0; padding: 0; height: 80vh;">

    <h4 class="text-light mt-4 ms-4 mb-3">Acompanhe seu progresso</h4>

    <div class="row justify-content-center m-0 justify-content-end p-0">
        <app-student-progress-line-chart style="margin-left: 325px; margin-bottom: 18px;"></app-student-progress-line-chart>
        <app-student-radar-chart style="margin-left: 325px;"></app-student-radar-chart>
    </div>


</div>