.banner-border {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.carousel-caption {
  visibility: visible !important;
  position: relative;
 }


.carousel-caption p {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 38px;
  text-align: center;
}

