<div class="banner-top-container">
<div class="container banner-border border border-2 p-0 container-fluid justify-content-center align-items-center" style="border-radius: 8px;" >
    <ngb-carousel class="container-fluid justify-content-center align-items-center" style="width: 55vw; height: 14vh;">
      <ng-template ngbSlide>
        <div class="carousel-caption p-0" style="width: 55vw; height: 14vh;">
          <h3>Primeira frase</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-caption p-0" style="width: 55vw; height: 14vh;">
          <p> oi galera
          
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-caption p-0" style="width: 55vw; height: 14vh;">
          <h3>Terceira frase</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
  
  
  