/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container principal */
.background-container {
    background-image: url('/assets/images/background1.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

/* Logotipo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    max-width: 250px;
}


/* Responsividade */
@media (max-width: 768px) {
    .logo-container {
        max-width: 200px;
    }
}