.background-container {
    background-image: url('/assets/images/background1.png');
    background-size: cover;
    background-position: bottom; /* Alinha o fundo com o fundo da tela */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa na tela */
    height: 100vh;
    width: 100%;
    position: relative;
}

.estudante-container {
    position: absolute; /* Para posicionar em relação ao contêiner pai */
    bottom: 0; /* Alinha a imagem da estudante ao fundo da tela */
    left: 120px; /* Ajusta a posição horizontal */
    right: 728px;
    padding-bottom: 0;
}

.logo-container {
    width: 250px;
    height: 92.35px;
    margin-left: 72px;
    padding-top: 32px;
}
