/* Estilos gerais para telas grandes (computadores) */
.background-container {
    background-image: url('/assets/images/background1.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}

.estudante-container {
    position: absolute;
    bottom: 0;
    left: 120px;
    right: 728px;
}

.estudante-imagem {
    max-width: 500px;
}

.logo-container {
    width: 250px;
    height: 92.35px;
    margin-left: 72px;
    padding-top: 32px;
}

/* Estilos para tablets */
@media (max-width: 1024px) {
    .background-container {
        background-position: center; /* Ajusta o fundo para ficar centrado */
    }

    .estudante-container {
        left: 60px;
        right: 0; /* Remove o espaçamento da direita para melhor encaixe */
    }

    .estudante-imagem {
        max-width: 400px; /* Reduz o tamanho da imagem */
    }

    .logo-container {
        margin-left: 40px;
        padding-top: 20px;
        width: 200px;
        height: auto; /* Ajusta a altura da logo */
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .background-container {
        background-size: contain; /* Ajusta a imagem de fundo para caber na tela */
        background-position: center;
        background-attachment: scroll; /* Permite que o fundo se mova ao rolar */
    }

    .estudante-container {
        position: relative;
        bottom: auto;
        left: 0;
        right: 0;
        text-align: center; /* Centraliza a imagem no centro da tela */
    }

    .estudante-imagem {
        max-width: 250px; /* Reduz o tamanho da imagem ainda mais */
        margin: 0 auto; /* Centraliza a imagem */
    }

    .logo-container {
        margin-left: 0;
        padding-top: 16px;
        width: 180px;
        height: auto;
        text-align: center; /* Centraliza o logotipo */
    }
}

