<footer class="footer-container">
    <div class="footer-column">
        <h3>Sobre</h3>
        <ul>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Carreiras</a></li>
            <li><a href="#">Blog Klapp Edu</a></li>
            <li><a href="#">imprensa</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Pra você</h3>
        <ul>
            <li><a href="#">Escolas</a></li>
            <li><a href="#">Professores</a></li>
            <li><a href="#">Alunos</a></li>
            <li><a href="#">Empresas</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Recursos</h3>
        <ul>
            <li><a href="#">Como Funciona</a></li>
            <li><a href="#">Metodologia</a></li>
            <li><a href="#">Biblioteca de Conteúdo</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Documentação e Suporte</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Redes Sociais</h3>
        <p>Siga-nos:</p>
        <ul class="social-list">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
        <div class="newsletter">
            <p>Inscreva-se em Nossa Newsletter Agora:</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Digite seu e-mail" required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</footer>