* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    height: 50px;
    align-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #191D6B;
}