
<div class="col align-items-start border border-2 blurred-background " style="margin: 0 0 0 20px; width: 250px; height: 630px; border-radius: 8px;">
    <img style="max-height: 70px; margin: 20px 20px 50px;" src="/assets/images/Logotipo.svg" alt="">
    <div class="link-icons col row align-items-start" style="margin: 10.5px; font-size: 25px;">
        <a href="/home" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-house-door mb-4"> Home</i>
        </a>
        <a href="/perfil" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-person mb-4"> Perfil</i>
        </a>
        <a href="/quiz" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-pencil mb-4"> Quiz</i>
        </a>
        <a href="/progresso" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-bar-chart mb-4"> Progresso</i>
        </a>
        <a href="/forum" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-people mb-4"> Fórum</i>
        </a>
        <a href="/ajuda" class="text-decoration-none text-dark mb-4">
            <i class="bi bi-question-circle mb-4"> Ajuda</i>
        </a>
    </div>
</div>
