<div class="col align-items-start border border-2 blurred-background" style="border-radius: 8px; margin-left: 10px; min-height: 663px; min-width: none;">
    <img style="max-height: 60px; margin: 20px 20px 50px;" src="/assets/images/Logotipo.svg" alt="">
    <div class="link-icons col row align-items-start" style="margin: 10.5px; font-size: 20px;">
        <a routerLink="/tela-aluno" class="text-decoration-none text-dark mb-4">
            <p class="bi bi-house-door mb-4"> Home</p>
        </a>
        <a routerLink="/perfil" class="text-decoration-none text-dark mb-4">
            <p class="bi bi-person mb-4"> Perfil</p>
        </a>
        <a routerLink="/studentQuizzes01" class="text-decoration-none text-dark mb-4">
            <p class="bi bi-pencil mb-4"> Quiz</p>
        </a>
        <a routerLink="/student-progress"class="text-decoration-none text-dark mb-4">
            <p class="bi bi-bar-chart mb-4"> Progresso</p>
        </a>
        <a href="/forum" class="text-decoration-none text-dark mb-4">
            <p class="bi bi-people mb-4"> Fórum</p>
        </a>
        <a href="/ajuda" class="text-decoration-none text-dark mb-4">
            <p class="bi bi-question-circle mb-4"> Ajuda</p>
        </a>
    </div>
</div>