<div class="banner-border border border-2" style="min-height: 553px; min-width: 350px;">
    <br>
    <div ngbAccordion #accordion="ngbAccordion" class="custom-accordion">
        <div ngbAccordionItem="first" class="selecao">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><i class="bi bi-clock m-2"></i> Quizzes pendentes</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="quiz-pendente d-flex banner-border border border-2 m-2">
                            <img src="/assets/images/books.svg" alt="imagem de livros">
                            <div class="materia">
                                <p>Fundamentos de
                                    Sistemas de Informação</p>
                                <div class="inferior">
                                    <p>Disponível até 16/12</p>
                                </div>
                            </div>
                        </div>

                        <div class="quiz-pendente d-flex banner-border border border-2 m-2">
                            <img src="/assets/images/pastas.svg" alt="imagem de livros">
                            <div class="materia">
                                <p style="margin-right: 50px; margin-bottom: 25px;">Banco de dados </p>
                                <div class="inferior">
                                    <p>Disponível até 16/12</p>
                                </div>
                            </div>
                        </div>


                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div ngbAccordion #accordion="ngbAccordion" class="custom-accordion">
        <div ngbAccordionItem="first">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><i class="bi bi-person-check m-2"></i> Suas pontuações</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>

                        <div class="materia1">
                            <p>Ciências Exatas</p>
                            <div class="pontuacao">

                            </div>
                        </div>
                        <div class="materia2">
                            <p></p>
                            <div class="pontuacao">
                                
                            </div>
                        </div>
                        <div class="materia3">
                            <p></p>
                            <div class="pontuacao">
                                
                            </div>
                        </div>
                        <div class="materia4">
                            <p></p>
                            <div class="pontuacao">
                                
                            </div>
                        </div>
                        <div class="materia5">
                            <p></p>
                            <div class="pontuacao">
                                
                            </div>
                        </div>

                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>