.banner-border {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
}

.accordion-item {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

button {
  background-color: transparent;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

.accordion-button:not(.collapsed) {
  color: #FFF;
  background-color: transparent;

}

.materia {
  margin-left: 5px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 15px;
}



.inferior {
  text-align: right;
  align-items: end;
  font-size: 13px;
}

a {
  text-decoration: none;
}