* {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.form-container,
.notas-container,
.nota,
input,
button {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.banner-border {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 0;
}


input[type="text"],
input[type="number"] {
  margin: 0;
  color: #FFF;
  height: 25px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}

.notas-container {
  margin-bottom: 2rem; // Espaçamento entre os anos
}

.notas {
  display: flex;
  justify-content: space-between; // Espaça igualmente os itens
  gap: 40px;
}

.nota {
  flex: 1; // Cada nota ocupa igual espaço
  margin-right: 1rem; // Espaçamento entre as notas
}

.nota:last-child {
  margin-right: 0; // Remove margem do último item
}

.image-container {
  position: relative;
  display: inline-block; /* Mantém o tamanho do contêiner em torno da imagem */
}

.image-container img {
  display: block;
  width: 100%; /* Ajuste conforme necessário */
}

.btn-overlay {
  background-color: #FFF;
  position: absolute;
  bottom: 25px; /* Ajuste conforme necessário */
  right: 5px;  /* Ajuste conforme necessário */
  background-color: transparent;
  border: none;
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  height: 25px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
 
  cursor: pointer;
  color: #fff;
  
  font-size: 20px;
}

