* {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.form-container,
.notas-container,
.nota,
input,
button {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.banner-border {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

form {
  min-width: 300px;
  width: 100%; /* Garante que o formulário ocupe toda a largura */
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  margin: 0;
  color: #FFF;
  height: 25px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}

.notas-container {
  margin-bottom: 2rem; /* Espaçamento entre os anos */
}

.notas {
  display: flex;
  gap: 20px; /* Espaçamento entre os inputs */
}

.nota {
  flex: 1;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%; /* Ajuste conforme necessário */
}

.btn-overlay {
  background-color: #FFF;
  position: absolute;
  bottom: 25px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.btn-primary {
  height: 35px; /* Maior altura para o botão */
  width: 70px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 2px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
