<div class="container banner-border border border-2 p-0 container-fluid m-0 "
    style="border-radius: 8px; width: 55vw; height: 78vh; margin: 0; padding: 0;">
    <app-ranking-message></app-ranking-message>


    <div class="row justify-content-center m-0 justify-content-end p-0">
        <div class=" text-center">
            <img src="/assets/images/monster010.svg" style="height: 250px; font-weight: 700;" alt="Imagem Acima">
            <h2 class="fs-4 text-light mt-2" style="width: 100%; padding: 15px 15px;
            text-underline-offset: 6px; text-shadow: .1em .1em 0 hsl(200 50% 30%);">
                Comece um novo quiz agora e aumente seu score para subir no ranking!
            </h2>
        </div>
    </div>


</div>